BasedOnStyle: Google
ColumnLimit: 120

IndentWidth: 4
UseTab: Never

IncludeBlocks: Preserve

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true

DerivePointerAlignment: false
PointerAlignment: Left

IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
